

{% block title %} {{pet["name"]}}'s Details {% endblock %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

{% block content %}
    <div>
        <ul style="list-style-type: none;float: right;font-size: large;">
            <li style="display:inline"><a href="{{url_for('home')}}">Home</a></li>
            <li style="display:inline"><a href="{{url_for('about')}}">About</a></li>
            {% if 'user' in session %}
            <li style="display:inline"><a href="{{url_for('logout')}}">Log Out</a></li>
            {% else %}
            <li style="display:inline"><a href="{{url_for('signup_render')}}">Sign Up</a></li>
            <li style="display:inline"><a href="{{url_for('login_render')}}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div style="float:left; border-style:double;">
        <img src= "{{url_for('static', filename = pet["id"]|string+".jpg")}}" height="350" >
    </div> 
    <div style="float:left; margin:10px;">
        <h1 class="title">{{ pet["name"] }}</h1>
        <p><b>Age: &nbsp;</b> {{pet["age"]}}</p>
        <p><b>Bio: &nbsp;</b> {{pet["bio"]}}</p>
    </div>
{% endblock %}