{% block title%}
Login Page
{% endblock %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

{% block content %}
<h1>Login</h1>

{% if message %}
    {{ message }}
{% endif %}
<div>
    <ul style="list-style-type: none;float: right;font-size: large;">
        <li style="display:inline"><a href="{{url_for('home')}}">Home</a></li>
        <li style="display:inline"><a href="{{url_for('about')}}">About</a></li>
        {% if 'user' in session %}
        <li style="display:inline"><a href="{{url_for('logout')}}">Log Out</a></li>
        {% else %}
        <li style="display:inline"><a href="{{url_for('signup_render')}}">Sign Up</a></li>
        <li style="display:inline"><a href="{{url_for('login_render')}}">Login</a></li>
        {% endif %}
    </ul>
  </div>

<!-- url_for('login')
    will sends directly
    the form to the login view function--> 
{% if form %}
<form action="{{url_for('login_render')}}" method="POST">
    {{ form.email.label }}: <br>
    {{ form.email }}
    {% if form.email.errors %}
    <br>
        <ul>
            {% for error in form.email.errors %}
            <li id="error">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    {{ form.password.label }}<br>
    {{ form.password }}
    {% if form.password.errors %}
    <br>
        <ul>
            {% for error in form.password.errors %}
            <li id="error">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    {{ form.csrf_token}}
    {{ form.submit }}
</form>
{% endif %}
<hr>
{% endblock %}